@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,200&display=swap');


body {
    background-image: linear-gradient(to right, blueviolet, 80%, violet);

}


.divs {
    display: flex;
    width: 100px;
    margin: 0 auto;
    padding: 10% 25% 10% 25%;
}

.form {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Serif', serif;
}


.botao {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    transition: 0.5s;
    font-family: 'Noto Serif', serif;
}

.botao:hover {
    background-color: white;
    color: black;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}