@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,200&display=swap');


body {
    background-image: linear-gradient(to right, blueviolet, 80%, violet);

}


.divs {
    display: flex;
    width: 100px;
    margin: 0 auto;
}

.form {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: 'Noto Serif', serif;
}


.botao {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    box-shadow: 5px;
    font-family: 'Noto Serif', serif;
}