@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,500&display=swap');


body {
    background-color: black;
    color: deeppink
}

.relogio {
    display: flex;
    justify-content: center;
    padding: 30px 30px 30px 30px;
}

.titulo {
    font-size: 5em;
}

.cont {
    font-size: 10em;
    font-family: 'EB Garamond', serif;
}